<div class="level">
  <div class="level-item"> 
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class:"label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input"%>
      </div>

      <div class="field">
        <%= f.label :password, class:"label" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"input"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me, class:"label" %>
          <%= f.check_box :remember_me, class:"checkbox" %>
        </div>
      <% end %>

      <div class="actions has-text-centered">
        <%= f.submit "Log in", class:"button is-success"%>
      </div>
    <% end %>


  </div>
</div>

<div class="column has-text-centered">
  <%= render "devise/shared/links" %>
</div>